@media screen and (min-width :1930px) {
    .mySwiper2 {
        max-width: 100% !important;

    }
}

@media screen and (min-width :1300px) {
    .container-th {
        max-width: 1766px;
        padding: 0px 20px;
    }

    .th-container2 {
        max-width: 1340px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header .img_bg {
        left: -80px;
    }

    .header .main-btn {
        display: block !important;
    }

    //swiper
    .coustom_swiper_btn {
        right: 201px !important;
    }

    // our-featured  start
    .destination-area {
        .destination-item {
            width: 100%;
            max-width: 190px !important;
            height: 600px;

            &.active {
                max-width: 600px !important;
            }
        }
    }
}

@media screen and (max-width :1299px) {

    // offer-deals
    .offer-deals {
        .offer-deals-wrapp {
            .according-img-tab {
                max-width: 250px !important;
            }
        }
    }

    // .destination-checklist page
    .destination-checklist {
        .checklist {
            min-width: 250px !important;
        }
    }

    //service page
    .affordable .price_card .price_content {
        padding: 0px 40px 30px;
    }

    //activities page
    .tour-snapshot {
        .tour-snap-wrapp {
            display: grid !important;
            grid-template-columns: auto auto;
            gap: 20px;
        }
    }
}

@media screen and (min-width :1199px) {

    // header start
    .header {
        .menu-list {

            ul {
                .menu_item {
                    margin: 0px 10px;
                    padding: 32px 0px;

                    >a {
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0%;
                            height: 1px;
                            background-color: black;
                            transition: all 0.4s ease;
                        }

                        &:hover:before {
                            width: 100%;
                        }

                        &:hover i {
                            transform: rotate(180deg);
                            transition: all 0.5s ease;
                        }

                        i {
                            transition: all 0.4s ease;
                        }
                    }
                }

                .dropdown_menu:hover .dropdown_list,
                .child_dropdown_menu:hover .child_dropdown_list {
                    transform: scaleY(1);
                    visibility: visible;
                    opacity: 1;
                    z-index: 2;
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1) translateZ(0);
                }

                .dropdown_menu .dropdown_list,
                .child_dropdown_menu .child_dropdown_list {
                    position: absolute;
                    background-color: $white;
                    border-bottom: 3px solid $sky;
                    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
                    transform: scaleY(0);
                    transition: all 0.4s ease;
                    z-index: 11;
                    opacity: 0;
                    visibility: hidden;
                    transform-origin: top center;
                    transform: scaleY(0) translateZ(100px);
                    transition: opacity .5s ease, visibility .5s ease, transform .7s ease;

                }

                .dropdown_menu {
                    .dropdown_list {
                        top: 100%;
                        left: -30px;
                        min-width: 230px;

                        .dropdown_item {
                            padding: 5px 20px;

                            a {
                                display: block;

                                &:hover {
                                    padding-left: 26px;
                                    color: $sky;
                                    transition: all 0.4s ease;
                                }

                                &::before {
                                    content: "\f5b0";
                                    position: absolute;
                                    top: 0;
                                    left: 10px;
                                    font-family: "Font Awesome 5 Free";
                                    display: inline-block;
                                    padding-right: 3px;
                                    vertical-align: middle;
                                    font-weight: 600;
                                    color: $sky;
                                    visibility: hidden;
                                    opacity: 0;
                                }

                                &:hover:before {
                                    visibility: visible;
                                    opacity: 1;
                                    left: 0;
                                    transition: all 0.4s ease-out;
                                }
                            }

                            &.child_dropdown_menu {
                                >a {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    i {
                                        transition: all 0.3s ease;
                                    }

                                    &:hover i {
                                        transform: rotate(90deg);
                                        transition: all 0.3s ease;
                                    }
                                }

                                .child_dropdown_list {
                                    top: 3px;
                                    left: 100%;
                                    min-width: 220px;
                                }
                            }

                        }


                        .dropdown_item+.dropdown_item {
                            border-top: 1px solid $gray;
                        }
                    }
                }
            }
        }
    }

    // header end


}

@media screen and (max-width :1199px) {
    .padding-py-70 {
        padding: 80px 0px;
    }

    .header {
        .menu-list {
            position: fixed;
            top: 0;
            left: -320px;
            height: 100%;
            width: 300px;
            background-color: $white;
            z-index: 999 !important;
            border-right: 3px solid $sky;
            transition: all 0.4s ease;

            &.open {
                left: 0px;
                transition: all 0.4s ease;
            }

            .side_logo {
                background-color: $smoke-color;
                position: relative;
                padding: 30px;

                .colse {
                    height: 30px;
                    width: 30px;
                    background-color: $sky;
                    border-radius: 50%;
                    position: absolute;
                    top: 15px;
                    right: -16px;
                    cursor: pointer;

                    i {
                        color: $white;
                        font-size: 20px;
                    }
                }
            }

            .mobile-menu {
                margin-top: 30px;
                max-height: calc(100vh - 200px);
                overflow-y: scroll;

                >ul {
                    flex-direction: column;

                    li {
                        border-top: 1px solid $gray;

                        a {
                            padding: 7px 20px;
                        }
                    }

                    // .dropdown_menu {
                    //     >a::after {
                    //         content: "\f067";
                    //         font-family: "Font Awesome 5 Free";
                    //         width: 22px;
                    //         height: 22px;
                    //         line-height: 22px;
                    //         text-align: center;
                    //         font-size: 13px;
                    //         border-radius: 50px;
                    //         background-color: #E9F6F9;
                    //         float: right;
                    //     }

                    //     >a.active {
                    //         color: $sky;
                    //         &::after {
                    //             content: "\f146";
                    //         }

                    //         &::before {
                    //             content: "\f107";
                    //             // color: $sky;
                    //         }
                    //     }
                    // }

                    .menu_item {
                        &:first-child {
                            border-top: unset !important;
                        }

                        .dropdown_list {
                            a {
                                padding-left: 30px;
                            }
                        }

                        >a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }

                .child_dropdown_menu {
                    >a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .dropdown_item a {
                        padding-left: 40px !important;
                    }
                }
            }

        }
    }

    .footer {
        .row {
            .col-md-6:nth-child(-n + 2) {
                margin-bottom: 30px;
            }
        }
    }

    //slider
    .slider .mySwiper2 .coustom_swiper_btn {
        bottom: -25% !important;
        right: 10px;
    }

    // our-featured  start
    .our-featured {
        .destination-area {
            .destination-item {
                max-width: 130px !important;
                height: 550px;

                &.active {
                    max-width: 480px !important;
                }
            }
        }
    }

    // offer-deals
    .offer-deals {
        .offer-deals-wrapp {
            margin-bottom: 50px !important;

            .according-img-tab {
                max-width: 100% !important;
            }
        }

        .uk {
            .uk-countdown-separator {
                display: none !important;
            }
        }
    }

    //background_wrapper
    .background_wrapper {
        padding: 145px 0px;

        .breadcumb-title {
            margin-bottom: 5px !important;
        }

        .breadcumb-menu {

            li,
            a {
                font-size: 16px !important;
            }
        }
    }

    //destination_details page 

    .destination_details {
        .blockqutoes {
            padding: 22px 25px 22px 35px;
        }
    }

    // shope page
    .de_list {
        .col-sm-6 {
            .shop_card {
                .product-tag {
                    display: none;
                }

                .shop_content {
                    .product_ratting .count_review {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width :991px) {
    .title-area {
        margin-bottom: 33px;
    }

    // our-featured  start
    .our-featured {
        .destination-area {
            .destination-item {
                width: 100%;
                max-width: 85px !important;
                height: 480px;

                &.active {
                    max-width: 390px !important;
                }
            }
        }
    }

    // swiper tour-categorie

    .tour-categorie {
        .swiper {
            .swiper-wrapper {
                max-height: 100%;
            }
        }
    }

    // .best-memorable
    .best-memorable {
        .row {
            .gallery-box_wrap:not(:first-child) {
                margin-top: 20px !important;
            }
        }
    }

    //background_wrapper
    .background_wrapper {
        padding: 130px 0px;
    }

    //video-box
    .video-box {
        padding-bottom: 60px;

        .paly-btn {
            height: 100px;
            width: 100px;
        }
    }

    //aboout
    .testimonial {
        .testimal_card {
            padding: 30px 30px 64px !important;

            .testimal_right {
                i {
                    font-size: 12px !important;
                    margin-right: 0 !important;
                }
            }
        }
    }

    //sidebar
    .sidebar {
        padding-left: 0;
    }

    //faq page
    .faq {
        .accordion {
            .accordion-header {
                .accordion-button {
                    font-size: 20px !important;
                }
            }
        }
    }

    //modal
    .modal.video_modal {
        .modal-content {
            button {
                position: absolute;
                top: -2px;
                right: -20px;
                z-index: 22;
            }

            .modal-body {
                iframe {
                    min-height: 350px;
                }
            }
        }
    }

    // shope page
    .de_list {
        .col-sm-6 {
            .shop_card {
                .shop_img .shop_action .icon {
                    font-size: 14px;
                    width: 28px;
                    height: 28px;
                    margin: 0px 2px !important;
                }

                .shop_content {
                    .product_ratting .count_review {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width :767px) {
    // .padding-py-70 {
    //     padding: 60px 0px !important;
    // }

    // .section-subtitle {
    //     margin-bottom: 7px;
    // }

    // .section-title {
    //     margin-bottom: 28px;
    // }

    // footer start
    .footer {
        .row {
            .col-md-6:nth-child(-n + 3) {
                margin-bottom: 30px;
            }
        }

        .widget {
            .insta-gallery {
                max-width: 100%;
            }
        }
    }

    //swiper
    .slider .mySwiper2 {
        .hero-inner {
            height: 719px;

            .content {
                top: 30%;
            }
        }
    }

    // our-featured  start
    .our-featured {

        .destination-area {
            gap: 15px;

            .destination-item {
                width: 100%;
                min-width: 100%;
                height: 110px;

                .destination-content {
                    bottom: 10px;
                    left: 30px;
                    transform: rotate(0deg);
                }

                .des-btn {
                    right: 30px;
                    bottom: 20px;
                }

                &.active {
                    height: 350px;
                    min-width: 100%;

                    .destination-content {
                        bottom: 20px;
                    }
                }
            }

        }
    }

    .offer-deals {
        .offer-deals-wrapp {
            display: block !important;
        }

        .according-img-tab {
            margin-top: 50px !important;
        }
    }

    .counter-card {
        width: 250px !important;
        height: 250px !important;
    }

    .counter-card .counter-shape {
        width: 290px !important;
        height: 290px !important;
        inset: -20px !important;

        span {
            bottom: 51px !important;
            right: 13px !important;
        }
    }

    .counter-card-wrap:nth-child(even) .counter-card .counter-shape span {
        top: 22px !important;
        right: 39px !important;
    }

    //video-box
    .video-box {
        padding-bottom: 40px;

        .paly-btn {
            height: 80px;
            width: 80px;
        }
    }

    // welcome-tourm
    .welcome-tourm {
        overflow: hidden;

        .img-box {
            .img2 {
                right: 0%;
            }
        }
    }

    // destination page
    .de_list {
        .destination_card {
            display: block !important;
        }

        .destination_content {
            padding: 24px 24px 16px 24px !important;
        }
    }

    //destination_detials page: 
    .reviews {
        .reviews_commets {
            display: block !important;

            .comment-avater {
                margin-bottom: 20px;
            }
        }
    }

    //blog page
    .reviews {
        .children {
            margin-left: 40px !important;
        }
    }

    //gallery page
    .gallery_filter {
        .filter_menu {
            gap: 10px;
            margin-bottom: 30px;
        }
    }

    //shop page
    .de_list {
        .col-sm-6 {
            width: 100%;
        }
    }

    .shop {
        .shop_card {
            .shop_content {
                .shop-title {
                    font-size: 16px;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    //shop details
    .product_tab .nav-tabs .nav-link {
        font-size: 18px;
        margin-right: 22px;
    }
    .tab-content {
        .reviews {
            .reviews_commets {
                .comment-content {
                    .name{
                        margin-bottom: 5px !important;
                    }
                    .comment-wrapp {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        margin-bottom: 5px;
                    }

                    .star_ratting {
                        position: relative !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width :575px) {
    .slider .mySwiper2 .coustom_swiper_btn{
        left: 10px !important;
        max-width: 380px;
    }

    .container {
        padding: 0px 20px;
    }

    // swiper tour-categorie

    .tour-categorie {
        .swiper {
            .swiper-wrapper {
                max-height: 100%;

                .swiper-slide {
                    margin-bottom: 30px !important;

                    .categories-card {
                        .box-img {
                            max-width: 100% !important;
                            // margin-top: 170px !important;
                        }
                    }
                }
            }

            .swiper-pagination {
                max-width: 250px !important;
            }

        }
    }

    // counter-sec
    .counter-sec {
        padding-top: 480px !important;

        .row {
            .counter-card-wrap:nth-child(1) .counter-card {
                margin-top: 0px !important;
            }

            .counter-card-wrap {
                .counter-card {
                    margin-top: 70px !important;

                }
            }

        }
    }

    // welcome-tourm
    .welcome-tourm {
        .img-box {

            .img1,
            .img2 {
                text-align: center;
            }

            .img2 {
                position: relative !important;
                margin-top: 30px;
            }

            img {
                width: 100%;
            }

        }
    }

    .breadcumb-title {
        font-size: 45px !important;
    }

    //destination-checklist
    .single_page .page-content .destination-checklist {
        flex-direction: column;

        .checklist-1 {
            border: unset !important;
            margin-top: 15px;
            padding-left: unset;
        }
    }

    .single_page .checklist {
        width: 100%;
        min-width: 0 !important;
    }

    //destination_details page 
    .destination_details {
        .blockqutoes {
            padding: 20px 20px 20px 30px !important;

            &::before {
                content: "";
                height: 40px;
                width: 30px;
            }

            &::after {
                font-size: 27px;
            }

            .scite {
                font-size: 18px;
                padding: 1px 30px 1px 15px;
                bottom: -12px;
            }
        }

    }

    .reviews {
        .reviews_commets {
            .comment-content {
                .comment-wrapp {
                    margin-bottom: 15px;
                }

                .like {
                    position: relative !important;
                    margin-top: 10px;
                }

            }
        }
    }


    //faq page
    .faq {
        .accordion {
            .accordion-header {
                .accordion-button {
                    font-size: 18px !important;
                    padding: 16px 25px !important;
                }

                .accordion-body {
                    padding: 16px 25px !important;
                }

            }
        }
    }

    //modal
    .modal.video_modal {
        .modal-content {
            button {
                position: absolute;
                top: -40px;
                right: 5px;
                z-index: 22;
            }

            .modal-body {
                iframe {
                    min-height: 350px;
                }
            }
        }
    }

    @media screen and (max-width :480px) {
        .slider .mySwiper2 .coustom_swiper_btn{
            max-width: 290px;
        }
        
        //swiper
        .slider .mySwiper2 {
            .hero-inner {

                .content {
                    top: 27%;
                }
            }
        }

        .padding-py-70 {
            padding: 40px 0px !important;
        }

        .section-title {
            margin-bottom: 30px;
            font-size: 30px;
        }

        .section-subtitle {
            font-size: 35px !important;
        }

        .counter-sec {
            padding-top: 400px !important;
        }

        // offer-deals
        .offer-deals {
            .offer-deals-wrapp {
                .card_hover {
                    width: 100%;
                    max-width: 280px;
                    margin: 0 auto;
                }
            }
        }

        .footer {
            .newletter_form {
                max-width: 100%;
                flex-direction: column;

                .main-btn {
                    margin-top: 20px;
                    height: 60px;
                }

            }
        }

        //form_contain
        .form_contain {
            .contact-form {
                padding: 25px;

                h3 {
                    margin-bottom: 20px;
                }

                .form-group {
                    .form-control {
                        padding: 12px 15px !important;
                    }

                    img {
                        top: 13px;
                        right: 15px;
                    }
                }

                .nice-select {
                    padding: 12px 15px !important;


                    .list {
                        width: 100%;
                        border-radius: unset !important;
                        border-bottom: 3px solid $sky;
                    }
                }

                .main-btn {
                    margin-top: 30px;
                    padding: 15px 30px !important;
                    border-radius: 48px;
                }
            }
        }

        // destination page
        .destination .sidebar .recent_post .recent_post_item {
            flex-direction: column;
        }

        .destination {
            .destination_pagination {
                li {
                    margin: 0 3px;

                    a {
                        width: 40px;
                        height: 40px;
                        font-size: 17px;

                        &.next_btn {
                            padding: 0 18px;
                            border-radius: 22px;
                        }
                    }
                }
            }
        }

        // Tour Snapshot activities page
        .tour-snapshot {
            .tour-snap-wrapp {
                grid-template-columns: auto;
            }
        }
    }

    @media screen and (max-width :380px) {
        .padding-py-70 {
            padding: 60px 0px !important;
        }

        //slider
        .slider .mySwiper2 .coustom_swiper_btn{
            max-width: 200px !important;
        }

        // .coustom_swiper_btn {
        //     // display: none !important;
        // }

        // offer-deals
        .offer-deals {
            .offer-deals-wrapp {
                .accordion {
                    .accordion-item {
                        min-width: auto !important;
                    }
                }

                .card_hover {
                    width: 100%;
                    max-width: 280px;
                    margin: 0 auto;
                }
            }
        }

        // counter-sec
        .counter-sec {
            padding-top: 375px !important;

            .row {
                .counter-card-wrap {
                    &:nth-child(even) .counter-card .counter-shape span {
                        top: 19px !important;
                        right: 34px !important;
                    }

                    .counter-card {
                        width: 220px !important;
                        height: 220px !important;
                        margin-top: 50px !important;

                        .counter-shape {
                            inset: -15px !important;
                            width: 250px !important;
                            height: 250px !important;

                            span {
                                bottom: 43px !important;
                                right: 11px !important;
                                width: 22px !important;
                                height: 22px !important;
                            }
                        }

                        .media-body {
                            .box-number {
                                font-size: 38px !important;
                                margin-bottom: 0 !important;
                            }

                            .counter-title {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }

        .breadcumb-title {
            font-size: 35px !important;
        }

        //destination_details page 
        .blog-text {
            font-size: 16px !important;
        }

        .destination_details {
            .blockqutoes {
                padding: 16px 25px !important;

                .scite {
                    font-size: 16px;
                    padding: 1px 30px 1px 15px;
                    bottom: -12px;
                }
            }

        }

        //service page
        .affordable .price_card .price_header {
            padding: 30px 15px;
        }

        .affordable .price_card .price_content {
            padding: 0px 30px 30px !important;
        }

        .affordable .price_card .price_btn .main-btn {
            padding: 10px;
            font-size: 16px;
        }

        //activites page
        .sidebar .filter_price .price-range-slider .range-value input {
            width: 100%;
            max-width: 100px;
            margin: 20px 0px 20px 6px !important;
        }

        //blog page
        .reviews {
            .children {
                margin-left: 0px !important;
            }
        }

        //gallery page
        .gallery_filter {
            .filter_menu {
                gap: 8px !important;

                .buttons {
                    padding: 6px 15px !important;
                }
            }
        }
    }
}