@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

.our-featured {
  background-image: url("../img/line-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our-featured .destination-area .destination-item {
  width: 100%;
  max-width: 170px;
  height: 600px;
  position: relative;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.our-featured .destination-area .destination-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 22px;
}
.our-featured .destination-area .destination-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
}
.our-featured .destination-area .destination-item .destination-content {
  position: absolute;
  z-index: 2;
  bottom: 70px;
  left: 0;
  transform: rotate(-90deg);
}
.our-featured .destination-area .destination-item .destination-content .box-title {
  color: #fff;
}
.our-featured .destination-area .destination-item .destination-content .dec-subtitle {
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.our-featured .destination-area .destination-item .des-btn {
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 40px;
  visibility: hidden;
  opacity: 0;
}
.our-featured .destination-area .destination-item.active {
  max-width: 530px;
}
.our-featured .destination-area .destination-item.active .destination-content {
  left: 30px;
  bottom: 40px;
  transform: rotate(0deg);
  transition: all 0.6s linear;
}
.our-featured .destination-area .destination-item.active .des-btn {
  visibility: visible;
  opacity: 1;
}

.offer-deals .offer-deals-wrapp {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item {
  border: unset;
  width: 100%;
  min-width: 336px;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .accordion-button.collapsed {
  border-bottom: 1px solid #999 !important;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .body_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #1ca8cb;
  display: block;
  margin-bottom: 10px;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .box-title {
  color: #113d48;
  font-weight: 600;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .accordion-button:focus {
  outline: 0;
  box-shadow: unset;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .accordion-button:focus .accordion-item {
  border-color: #0c63e4 !important;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #113d48;
  background-color: #fff;
  box-shadow: unset;
  padding: 10px 0px 0px 0px;
}
.offer-deals .offer-deals-wrapp .accordion .accordion-item .accordion-body {
  background-color: transparent;
  border: none;
  padding: 0px;
  border-bottom: 1px solid #1ca8cb !important;
}
.offer-deals .offer-deals-wrapp .card_hover img {
  border-radius: 16px;
  transform: rotate(6deg);
}
.offer-deals .uk .uk-grid {
  margin-left: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer-deals .uk .round {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #1ca8cb;
  padding: 30px 20px;
  width: 110px;
}
.offer-deals .uk .uk-countdown-number {
  font-size: 25px !important;
  font-weight: 600;
  color: #113d48;
}
.offer-deals .uk .uk-countdown-separator {
  display: flex;
  align-items: center;
  font-size: 35px !important;
  font-weight: 700;
  padding: 0px 3px !important;
  color: #113d48;
}
.offer-deals .uk .uk-countdown-label {
  margin-top: 5px !important;
  color: #113d48;
  font-weight: 400;
  display: inline-block !important;
}

.popular-destination {
  background-image: url("../img/home/tour_bg_2.jpg");
  background-repeat: no-repeat;
  margin-bottom: -400px !important;
}
.popular-destination .swiper-wrapper {
  padding: 25px 0px !important;
}
.popular-destination .tour-card {
  height: 100%;
  position: relative;
}
.popular-destination .tour-card:hover img {
  transform: scale(1.2);
  transition: all 0.4s linear;
}
.popular-destination .tour-card .tour-card-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}
.popular-destination .tour-card .tour-card-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.popular-destination .tour-card .tour-card-img:hover:after {
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.popular-destination .tour-card .tour-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.popular-destination .tour-card:hover .tour-card-content {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
.popular-destination .tour-card .tour-card-content {
  position: absolute;
  top: 16px;
  left: 16px;
  border: 1px solid white;
  background-color: rgba(17, 61, 72, 0.5);
  padding: 24px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.popular-destination .tour-card .tour-card-content .box-title a {
  color: #fff;
  font-size: 20px;
}
.popular-destination .tour-card .tour-card-content .box-title a:hover {
  color: #1ca8cb;
  transition: all 0.4s ease;
}
.popular-destination .tour-card .tour-card-content .tour_raiting {
  margin-top: 3px;
  margin-bottom: 15px;
}
.popular-destination .tour-card .tour-card-content .tour_raiting .star i {
  color: orange;
}
.popular-destination .tour-card .tour-card-content .tour_raiting .count {
  color: #fff;
}
.popular-destination .tour-card .tour-card-content .tour-card_price {
  color: #fff;
}
.popular-destination .tour-card .tour-card-content .tour-card_price .currency {
  font-size: 25px;
  font-weight: 600;
}
.popular-destination .tour-card .tour-card-content .tour_action span {
  color: #fff;
}
.popular-destination .tour-card .tour-card-content .tour_action span i {
  margin-right: 9px;
}
.popular-destination .tour-card .tour-card-content .tour_action .white-btn {
  padding: 8px 12px;
}

.counter-sec {
  background-image: url("../img/line-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 520px !important;
  overflow: hidden;
}
.counter-sec .row .counter-card-wrap:nth-child(even) .counter-card {
  margin-top: 0px;
}
.counter-sec .row .counter-card-wrap:nth-child(even) .counter-card .counter-shape::before, .counter-sec .row .counter-card-wrap:nth-child(even) .counter-card .counter-shape::after {
  bottom: unset;
  top: 10%;
  right: 16%;
}
.counter-sec .row .counter-card-wrap:nth-child(even) .counter-card .counter-shape span {
  top: 24px;
  right: 43px;
}
.counter-sec .row .counter-card-wrap .counter-card {
  position: relative;
  background-color: #E9F6F9;
  padding: 93px 28px;
  width: 264px;
  height: 264px;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  margin-top: 140px;
}
.counter-sec .row .counter-card-wrap .counter-card:hover .counter-shape {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.counter-sec .row .counter-card-wrap .counter-card .counter-shape {
  position: absolute;
  inset: -24px;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  border: 1px solid #1ca8cb;
  transition: all 0.4s ease-in-out;
}
.counter-sec .row .counter-card-wrap .counter-card .counter-shape::before, .counter-sec .row .counter-card-wrap .counter-card .counter-shape::after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 7%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1ca8cb;
}
.counter-sec .row .counter-card-wrap .counter-card .counter-shape::after {
  animation: ripple 2s ease-in-out infinite;
}
@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(2.9);
    opacity: 0.2;
  }
}
.counter-sec .row .counter-card-wrap .counter-card .counter-shape span {
  position: absolute;
  top: unset;
  bottom: 55px;
  right: 15px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
  background-color: rgba(28, 168, 203, 0.2);
  z-index: 2;
}
.counter-sec .row .counter-card-wrap .counter-card .media-body .box-number {
  font-weight: 600;
  font-size: 48px !important;
  line-height: 48px;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 7px;
}
.counter-sec .row .counter-card-wrap .counter-card .media-body .counter-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}

.best-memorable {
  background-image: url("../img/home/tour_bg_2.jpg");
  background-repeat: no-repeat;
}
.best-memorable .gallery-box_wrap .galler-box:nth-child(2) {
  margin-top: 20px;
}
.best-memorable .gallery-box_wrap .galler-box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.best-memorable .gallery-box_wrap .galler-box:hover .gallery-img::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s linear;
}
.best-memorable .gallery-box_wrap .galler-box:hover .icone-serch {
  transform: scale(1);
  transition: all 0.4s linear;
}
.best-memorable .gallery-box_wrap .galler-box .icone-serch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  z-index: 2;
  transform: scale(0);
  transition: all 0.3s ease;
}
.best-memorable .gallery-box_wrap .galler-box .gallery-img {
  overflow: hidden;
  border-radius: 16px;
}
.best-memorable .gallery-box_wrap .galler-box .gallery-img a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.best-memorable .gallery-box_wrap .galler-box .gallery-img:hover img {
  transform: scale(1.3);
  transition: all 0.5s linear;
}
.best-memorable .gallery-box_wrap .galler-box .gallery-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s linear;
}
.best-memorable .gallery-box_wrap .galler-box .gallery-img::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: scale(0);
  transition: all 0.4s linear;
}

.meet-guide {
  background-image: url("../img/home/tour_bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog {
  background-color: #E9F6F9;
}
.blog .main-btn {
  background-color: transparent;
  border: 1px solid #113d48;
  color: #113d48;
  padding: 14px 28px !important;
}
.blog .main-btn:hover {
  border-color: #1ca8cb;
}
.blog .blog_box .blog_img {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}
.blog .blog_box .blog_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.blog .blog_box .blog_img img {
  border-radius: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.4s linear;
}
.blog .blog_box:hover .blog_img img {
  transform: scale(1.05);
  transition: all 0.4s linear;
}
.blog .blog_box:hover .blog_img::after {
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.blog .blog_box .blog_content {
  margin-top: 10px;
}
.blog .blog_box .blog_content .read-cap a:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  height: 9px;
  width: 1px;
  background-color: #999;
}
.blog .blog_box .blog_content .read-cap a {
  font-size: 14px;
  color: #999;
  position: relative;
  transition: all 0.3s linear;
}
.blog .blog_box .blog_content .read-cap a:hover {
  color: #1ca8cb;
  transition: all 0.3s linear;
}
.blog .blog_box .blog_content .box-title {
  margin-top: 10px;
  margin-bottom: 26px;
}
.blog .blog_box .blog_content .box-title a {
  font-size: 23px;
  color: #113d48;
  font-weight: 500;
  transition: all 0.3s linear;
}
.blog .blog_box .blog_content .box-title a:hover {
  color: #1ca8cb;
  transition: all 0.3s linear;
}

.testimonial .testimonial-slider .testimonial_box {
  position: relative;
  padding: 40px 40px 64px;
  background: #E9F6F9 !important;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: #1ca8cb !important;
}

::-webkit-scrollbar {
  width: 5px;
}

a,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.padding-py-70 {
  padding: 120px 0px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
a:hover {
  text-decoration: none;
}

.h1, h1 {
  font-size: 80px;
  line-height: 1.18;
}

.h2, h2 {
  font-size: 48px;
  line-height: 1.327;
}

.h3, h3 {
  font-size: 32px;
  line-height: 1.278;
}

.h4, h4 {
  font-size: 30px;
  line-height: 1.333;
}

.h5, h5 {
  font-size: 24px;
  line-height: 1.417;
}

.h6, h6 {
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 1199px) {
  .h1, h1 {
    font-size: 54px;
    line-height: 1.3;
  }
  .h2, h2 {
    font-size: 36px;
    line-height: 1.3;
  }
  .h3, h3 {
    font-size: 30px;
  }
  .h4, h4 {
    font-size: 24px;
  }
  .h5, h5 {
    font-size: 20px;
  }
  .h6, h6 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .h1, h1 {
    font-size: 40px;
  }
  .h2, h2 {
    font-size: 34px;
    line-height: 1.3;
  }
  .h3, h3 {
    font-size: 26px;
  }
  .h4, h4 {
    font-size: 22px;
  }
  .h5, h5 {
    font-size: 18px;
  }
  .h6, h6 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .h1, h1 {
    font-size: 34px;
    line-height: 1.35;
  }
  .h2, h2 {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .h1, h1 {
    font-size: 32px;
  }
}
.title-area {
  text-align: center;
  margin-bottom: 50px;
}

.section-subtitle {
  font-family: "Montez", cursive;
  display: block;
  color: #113d48;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.section-title {
  font-family: "Manrope", sans-serif;
  color: #113d48;
  font-weight: 700;
}

.tour-text {
  font-size: 18px;
  color: #113d48;
  text-align: center;
  width: 100%;
  max-width: 687px;
  display: block;
  margin: 20px auto 0px;
}

/*================
  header-top start
  ================*/
.header-top a {
  color: rgba(19, 18, 18, 0.918);
  font-family: "Inter", sans-serif;
}
.header-top .left-content ul li,
.header-top .right-content > ul li {
  position: relative;
}
.header-top .left-content ul li:not(:last-child)::after,
.header-top .right-content > ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #999;
  top: 4px;
  right: 0;
}
.header-top .right-content .dropdown {
  width: 100px;
  border: 1px solid #999;
  border-radius: 20px;
  text-align: center;
}
.header-top .right-content .dropdown:focus,
.header-top .right-content .dropdown .btn:focus {
  outline: unset;
  box-shadow: unset;
}
.header-top .right-content .dropdown .dropdown-menu {
  min-width: 5rem;
  padding: 0;
  border-radius: unset;
  transform: translate(16px, 28px) !important;
}
.header-top .right-content .dropdown .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background-color: #1ca8cb;
}

/*==============
header-top end
==============*/
/*==============
header start
==============*/
.header {
  height: 90px;
  display: flex;
  align-items: center;
  background-image: url("../img/line-pattern.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  z-index: 10;
  background-image: unset;
  background-color: #fff;
  transition: all 0.4s ease;
  animation: fadeInDown 1s ease;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header .bar {
  padding: 8px;
  background-color: #1ca8cb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .bar i {
  font-size: 22px;
  color: #fff;
}
.header .menu-list a {
  font-size: 16px;
  font-weight: 400;
  display: block;
  position: relative;
  text-transform: capitalize;
  color: rgba(19, 18, 18, 0.918);
  font-family: "Inter", sans-serif;
}

/*==============
header end
==============*/
.wapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}
.wapper.active {
  visibility: visible;
  opacity: 1;
}

.main-btn {
  padding: 16px 38px;
  background-color: #113d48;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  text-transform: capitalize;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background-color: #1ca8cb;
  transition: all 0.3s ease;
  z-index: -1;
}
.main-btn:hover:before {
  width: 100%;
  transition: all 0.3s ease;
}
.main-btn:hover {
  color: #fff;
  text-decoration: none;
}

.offer-deals .main-btn,
.best-memorable .main-btn {
  padding: 18px 35px !important;
}

.white-btn {
  padding: 8px 24px;
  position: relative;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  text-transform: capitalize;
  display: inline-block;
  z-index: 2;
}
.white-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 0px 30px 30px 0px;
  transition: all 0.3s ease;
  z-index: -1;
}
.white-btn:hover:before {
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.white-btn:hover {
  color: #000;
}

.modal .modal-dialog .modal-body .nav-pills .nav-item .nav-link {
  color: #113d48;
}
.modal .modal-dialog .modal-body .nav-pills .nav-item .nav-link.active {
  background-color: #113d48;
  color: #fff;
}

form .form-label {
  font-size: 14px;
}
form .form-control {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
form .form-control:focus {
  outline: unset;
  border-color: unset;
  box-shadow: none;
}
form button {
  outline: unset;
  border: unset;
  width: 100%;
  border-radius: unset;
  padding: 10px 0px !important;
}

.footer {
  background-color: #113d48;
  border-bottom: 1px solid #999;
}
.footer .footer_top {
  margin-bottom: 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid #999;
}
.footer .footer_top .newletter_form .form-control {
  border-radius: 30px;
  padding-left: 30px;
  height: 60px;
  background-color: transparent;
  color: #fff;
}
.footer .footer_top .newletter_form .main-btn {
  min-width: 225px;
  text-align: center;
  background-color: #1ca8cb;
  padding: 0 !important;
}
.footer .footer_top .newletter_form .main-btn::before {
  background-color: #fff;
}
.footer .footer_top .newletter_form .main-btn:hover:before {
  width: 100%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.footer .footer_top .newletter_form .main-btn a {
  color: #fff;
}
.footer .footer_top .newletter_form .main-btn:hover a {
  color: #113d48;
}
.footer .footer_top .newletter_form .main-btn:hover i {
  color: #1ca8cb;
}
.footer .footer_top .newletter_form ::-moz-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.footer .footer_top .newletter_form ::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.footer .widget .about_text {
  font-family: "Inter", sans-serif;
  color: #E9F6F9;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.footer .widget a {
  color: #E9F6F9;
}
.footer .widget .about-social a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.footer .widget .about-social a:hover {
  background-color: #1ca8cb;
  transition: all 0.4s ease;
}
.footer .widget .widget_title {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
.footer .widget .widget_menu li + li {
  margin-top: 15px;
}
.footer .widget .widget_menu .widget_link a {
  display: inline-block;
  position: relative;
}
.footer .widget .widget_menu .widget_link a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 600;
}
.footer .widget .widget_menu .widget_link a:hover {
  color: #1ca8cb;
}
.footer .widget .details a:hover {
  color: #1ca8cb;
}
.footer .widget .widget_contact {
  max-width: 260px;
}
.footer .widget .widget_contact li + li {
  margin-top: 18px;
}
.footer .widget .insta-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 330px;
}
.footer .widget .insta-gallery .gallery-thumb img {
  width: 100%;
  border-radius: 4px;
}

.footer-bottom {
  background-color: #113d48;
  padding: 20px 0px;
}
.footer-bottom p {
  color: #E9F6F9;
}
.footer-bottom span {
  color: #E9F6F9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.hero-title {
  font-size: 75px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  display: block;
  color: #fff;
}

.hero-text {
  font-size: 26px;
  color: #fff;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.box-title {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
}

.hero-dec {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
}

.slider {
  position: relative;
  background-image: url("../img/line-pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider .img-cover {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 26px;
}
.slider .mySwiper2 {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 1750px;
  margin: 0 auto;
}
.slider .mySwiper2 .hero-inner {
  position: relative;
  height: 750px;
}
.slider .mySwiper2 .hero-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 26px;
}
.slider .mySwiper2 .hero-inner .content {
  position: absolute;
  top: 35%;
  max-width: 450px;
}
.slider .mySwiper2 .hero-inner .content .main-btn {
  padding: 18px 35px;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
}
.slider .mySwiper2 .hero-inner .content .main-btn::before {
  background-color: #113d48;
}
.slider .mySwiper2 .hero-inner .content .main-btn:hover {
  color: #fff;
}
.slider .mySwiper2 .swiper-slide.swiper-slide-active .hero-title {
  animation: fadeInUp 0.5s both 0.6s;
}
.slider .mySwiper2 .swiper-slide.swiper-slide-active .hero-text {
  animation: fadeInUp 0.6s both 0.7s;
}
.slider .mySwiper2 .swiper-slide.swiper-slide-active .hero-dec {
  animation: fadeInUp 0.7s both 0.8s;
}
.slider .mySwiper2 .swiper-slide.swiper-slide-active .main-btn {
  animation: fadeInUp 0.8s both 0.9s;
}
.slider .mySwiper2 .coustom_swiper_btn {
  position: absolute;
  top: 62%;
  margin: 0;
  right: 5px;
  z-index: 9;
  width: 550px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-button-prev {
  left: unset;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-button-next {
  right: unset;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-button-next {
  margin-left: 40px;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination {
  position: relative;
  border-radius: 8px;
  width: 424px;
  display: flex;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination-bullet {
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: white;
  animation: slide-progress 2s forwards;
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-paused .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}
@keyframes slide-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slider .mySwiper2 .coustom_swiper_btn .swiper-button-next:after,
.slider .mySwiper2 .coustom_swiper_btn .swiper-button-prev:after {
  content: none;
}
.slider .mySwiper2 .coustom_swiper_btn .hero-icon {
  display: flex;
  gap: 8px;
}
.slider .mySwiper2 .coustom_swiper_btn .hero-icon .hero-arrow {
  width: 32px;
  height: 32px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.4s ease;
}
.slider .mySwiper2 .coustom_swiper_btn .hero-icon .hero-arrow:hover {
  background-color: white;
}
.slider .mySwiper2 .coustom_swiper_btn .hero-icon .hero-arrow:hover img {
  filter: none;
}
.slider .mySwiper2 .coustom_swiper_btn .hero-icon .hero-arrow img {
  filter: brightness(0) invert(1);
  transition: all 0.4s ease;
}
.slider .thumbswiper {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 100%;
  max-width: 810px;
}
.slider .thumbswiper .swiper-slide {
  width: 100% !important;
  max-width: 400px !important;
}
.slider .thumbswiper .swiper-slide .hero_card {
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 20px;
  height: 100%;
  gap: 15px;
}
.slider .thumbswiper .swiper-slide .hero_card .hero_img {
  width: 100%;
  max-width: 160px;
}
.slider .thumbswiper .swiper-slide .hero_card .hero_img img {
  min-width: 160px;
  min-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.slider .thumbswiper .swiper-slide .hero_card .hero_details .box-title {
  color: #fff;
  margin-bottom: 2px;
}
.slider .thumbswiper .swiper-slide .hero_card .hero_details .hero-card_price {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  margin-bottom: 15px;
}
.slider .thumbswiper .swiper-slide .hero_card .hero_details span {
  color: #fff;
  font-size: 16px;
}

.tour-categorie .swiper .swiper-wrapper {
  align-items: center;
  height: 100%;
  max-height: 400px;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  min-height: 230px !important;
  margin-bottom: 40px;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card {
  height: 100%;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card:hover img {
  transform: scale(1.3);
  transition: all 0.4s linear;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-img {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 24px;
  transition: all 0.4s linear;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-img:hover:after {
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-img img {
  width: 100%;
  transition: all 1.3s ease;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-title {
  color: #113d48;
  text-align: center;
  margin: 10px 0px;
}
.tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-link {
  font-size: 15px;
  text-align: center;
  display: block;
  color: #999;
}
.tour-categorie .swiper .swiper-pagination {
  max-width: 180px;
  display: block;
  overflow: hidden;
  height: 21px;
  margin: auto;
  position: relative;
}
.tour-categorie .swiper .swiper-pagination span {
  font-size: 0;
  opacity: 1;
  margin: 0px 8px !important;
  border: 1px solid #113D48;
  color: #E4E4E4;
  background: transparent;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.tour-categorie .swiper .swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #1ca8cb;
  border-color: #1ca8cb;
}

.meet-guide-swiper .team_box {
  position: relative;
}
.meet-guide-swiper .team_box:hover .media_content {
  background-color: #1ca8cb !important;
  color: #fff !important;
}
.meet-guide-swiper .team_box:hover .box-title {
  color: #fff;
}
.meet-guide-swiper .team_box:hover .social a {
  color: #fff !important;
  border-color: #fff !important;
}
.meet-guide-swiper .team_box:hover .team_img img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}
.meet-guide-swiper .team_box .team_img {
  width: 100%;
  max-width: 190px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.meet-guide-swiper .team_box .team_img img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
  transition: all 0.4s linear;
}
.meet-guide-swiper .team_box .team_content {
  background-color: #fff;
  padding: 125px 16px 16px 16px;
  margin-top: -100px;
  border-radius: 16px;
}
.meet-guide-swiper .team_box .team_content .media_content {
  border-radius: 16px;
  padding: 24px 28px;
  background-color: #E9F6F9;
  transition: all 0.4s linear;
}
.meet-guide-swiper .team_box .team_content .media_content .box-title {
  font-weight: 600;
}
.meet-guide-swiper .team_box .team_content .media_content .team-des {
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}
.meet-guide-swiper .team_box .team_content .media_content .social {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.meet-guide-swiper .team_box .team_content .media_content .social a {
  width: 30px;
  height: 30px;
  border: 1px solid #1ca8cb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #1ca8cb;
}
.meet-guide-swiper .swiper-pagination {
  display: block;
  overflow: hidden;
  height: 21px;
  margin: auto;
  position: relative;
  margin-top: 45px;
}
.meet-guide-swiper .swiper-pagination span {
  font-size: 0;
  opacity: 1;
  margin: 0px 8px !important;
  border: 1px solid #113D48;
  color: #E4E4E4;
  background: transparent;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.meet-guide-swiper .swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #1ca8cb;
  border-color: #1ca8cb;
}

@media screen and (max-width: 767px) {
  .meet-guide-swiper .team_box .team_img {
    max-width: 250px !important;
  }
}
@media screen and (max-width: 480px) {
  .meet-guide-swiper .team_box .team_img {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 300px) {
  .meet-guide-swiper .team_box .team_img {
    max-width: 140px !important;
  }
}
.company-swiper {
  position: relative;
}
.company-swiper .company_box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto;
  position: relative;
  display: block;
}
.company-swiper .company_box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.7s ease-in-out;
}
.company-swiper .company_box .main-logo {
  transition: all 0.7s ease-in-out;
  transform: translateY(0%);
}
.company-swiper .company_box .gray-logo {
  visibility: hidden;
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transform: translateY(-100%);
}
.company-swiper .company_box:hover .gray-logo {
  visibility: visible;
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transform: translate(0%);
}
.company-swiper .company_box:hover .main-logo {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translateY(100%);
}

@media screen and (min-width: 1930px) {
  .mySwiper2 {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 1300px) {
  .container-th {
    max-width: 1766px;
    padding: 0px 20px;
  }
  .th-container2 {
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .img_bg {
    left: -80px;
  }
  .header .main-btn {
    display: block !important;
  }
  .coustom_swiper_btn {
    right: 201px !important;
  }
  .destination-area .destination-item {
    width: 100%;
    max-width: 190px !important;
    height: 600px;
  }
  .destination-area .destination-item.active {
    max-width: 600px !important;
  }
}
@media screen and (max-width: 1299px) {
  .offer-deals .offer-deals-wrapp .according-img-tab {
    max-width: 250px !important;
  }
}
@media screen and (min-width: 1199px) {
  .header .menu-list ul .menu_item {
    margin: 0px 10px;
    padding: 32px 0px;
  }
  .header .menu-list ul .menu_item > a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: all 0.4s ease;
  }
  .header .menu-list ul .menu_item > a:hover:before {
    width: 100%;
  }
  .header .menu-list ul .menu_item > a:hover i {
    transform: rotate(180deg);
    transition: all 0.5s ease;
  }
  .header .menu-list ul .menu_item > a i {
    transition: all 0.4s ease;
  }
  .header .menu-list ul .dropdown_menu:hover .dropdown_list {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: -30px;
    min-width: 230px;
    border-bottom: 3px solid #1ca8cb;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    transform: scaleY(0);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item {
    padding: 5px 20px;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item a {
    display: block;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item a:hover {
    padding-left: 26px;
    color: #1ca8cb;
    transition: all 0.4s ease;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item a::before {
    content: "\f5b0";
    position: absolute;
    top: 0;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 600;
    color: #1ca8cb;
    visibility: hidden;
    opacity: 0;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item a:hover:before {
    visibility: visible;
    opacity: 1;
    left: 0;
    transition: all 0.4s ease-out;
  }
  .header .menu-list ul .dropdown_menu .dropdown_list .dropdown_item + .dropdown_item {
    border-top: 1px solid #999;
  }
}
@media screen and (max-width: 1199px) {
  .padding-py-70 {
    padding: 80px 0px;
  }
  .header .menu-list {
    position: fixed;
    top: 0;
    left: -320px;
    height: 100%;
    width: 300px;
    background-color: #fff;
    z-index: 44;
    border-right: 3px solid #1ca8cb;
    transition: all 0.4s ease;
  }
  .header .menu-list.open {
    left: 0px;
    transition: all 0.4s ease;
  }
  .header .menu-list .side_logo {
    background-color: #f3f4f6;
    position: relative;
    padding: 30px;
  }
  .header .menu-list .side_logo .colse {
    height: 30px;
    width: 30px;
    background-color: #1ca8cb;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: -16px;
    cursor: pointer;
  }
  .header .menu-list .side_logo .colse i {
    color: #fff;
    font-size: 20px;
  }
  .header .menu-list .mobile-menu {
    margin-top: 30px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
  }
  .header .menu-list .mobile-menu > ul {
    flex-direction: column;
    padding: 0px 20px;
  }
  .header .menu-list .mobile-menu > ul li {
    border-top: 1px solid #999;
  }
  .header .menu-list .mobile-menu > ul li a {
    padding: 7px 0px;
  }
  .header .menu-list .mobile-menu > ul .menu_item:first-child {
    border-top: unset !important;
  }
  .header .menu-list .mobile-menu > ul .menu_item .dropdown_list a {
    padding-left: 20px;
  }
  .header .menu-list .mobile-menu > ul .menu_item a::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 600;
  }
  .header .menu-list .mobile-menu > ul .menu_item a i {
    display: none;
  }
  .footer .row .col-md-6:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .slider .mySwiper2 .coustom_swiper_btn {
    bottom: -25% !important;
    right: 10px;
  }
  .our-featured .destination-area .destination-item {
    max-width: 130px !important;
    height: 550px;
  }
  .our-featured .destination-area .destination-item.active {
    max-width: 480px !important;
  }
  .offer-deals .offer-deals-wrapp {
    margin-bottom: 50px !important;
  }
  .offer-deals .offer-deals-wrapp .according-img-tab {
    max-width: 100% !important;
  }
  .offer-deals .uk .uk-countdown-separator {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .title-area {
    margin-bottom: 33px;
  }
  .our-featured .destination-area .destination-item {
    width: 100%;
    max-width: 85px !important;
    height: 480px;
  }
  .our-featured .destination-area .destination-item.active {
    max-width: 390px !important;
  }
  .tour-categorie .swiper .swiper-wrapper {
    max-height: 100%;
  }
  .best-memorable .row .gallery-box_wrap:not(:first-child) {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .footer .row .col-md-6:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .footer .widget .insta-gallery {
    max-width: 100%;
  }
  .slider .mySwiper2 .hero-inner {
    height: 719px;
  }
  .slider .mySwiper2 .hero-inner .content {
    top: 30%;
  }
  .our-featured .destination-area {
    gap: 15px;
  }
  .our-featured .destination-area .destination-item {
    width: 100%;
    min-width: 100%;
    height: 110px;
  }
  .our-featured .destination-area .destination-item .destination-content {
    bottom: 10px;
    left: 30px;
    transform: rotate(0deg);
  }
  .our-featured .destination-area .destination-item .des-btn {
    right: 30px;
    bottom: 20px;
  }
  .our-featured .destination-area .destination-item.active {
    height: 350px;
    min-width: 100%;
  }
  .our-featured .destination-area .destination-item.active .destination-content {
    bottom: 20px;
  }
  .offer-deals .offer-deals-wrapp {
    display: block !important;
  }
  .offer-deals .according-img-tab {
    margin-top: 50px !important;
  }
  .counter-card {
    width: 250px !important;
    height: 250px !important;
    padding: 81px 28px;
  }
  .counter-card .counter-shape {
    width: 290px !important;
    height: 290px !important;
    inset: -20px !important;
  }
  .counter-card .counter-shape span {
    bottom: 51px !important;
    right: 13px !important;
  }
  .counter-card-wrap:nth-child(even) .counter-card .counter-shape span {
    top: 22px !important;
    right: 39px !important;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0px 20px;
  }
  .tour-categorie .swiper .swiper-wrapper {
    max-height: 100%;
  }
  .tour-categorie .swiper .swiper-wrapper .swiper-slide {
    margin-bottom: 30px !important;
  }
  .tour-categorie .swiper .swiper-wrapper .swiper-slide .categories-card .box-img {
    max-width: 100% !important;
  }
  .tour-categorie .swiper .swiper-pagination {
    max-width: 250px !important;
  }
  .counter-sec {
    padding-top: 480px !important;
  }
  .counter-sec .row .counter-card-wrap:nth-child(1) .counter-card {
    margin-top: 0px !important;
  }
  .counter-sec .row .counter-card-wrap .counter-card {
    margin-top: 70px !important;
  }
}
@media screen and (max-width: 480px) {
  .padding-py-70 {
    padding: 40px 0px !important;
  }
  .section-title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .section-subtitle {
    font-size: 35px !important;
  }
  .footer .newletter_form {
    max-width: 100%;
    flex-direction: column;
  }
  .footer .newletter_form .main-btn {
    margin-top: 20px;
    height: 60px;
  }
}
@media screen and (max-width: 380px) {
  .padding-py-70 {
    padding: 35px 0px !important;
  }
  .coustom_swiper_btn {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */