.main-btn {
    padding: 16px 38px;
    background-color: $dark-blue;
    color: $white;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 2;
    text-transform: capitalize;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: 30px;
        background-color: $sky;
        transition: all 0.3s ease;
        z-index: -1;
    }

    &:hover:before {
        width: 100%;
        transition: all 0.3s ease;
    }

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.offer-deals .main-btn,
.best-memorable .main-btn {
        padding: 18px 35px !important;
    
}

.white-btn {
    padding: 8px 24px;
    position: relative;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid $white;
    color: $white;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-block;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $white;
        border-radius: 0px 30px 30px 0px;
        transition: all 0.3s ease;
        z-index: -1;
    }

    &:hover:before {
        width: 100%;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    &:hover {
        color: $black;
    }
}

//search box 
.search-form-area {
    position: relative;

    input {
        width: 100%;
        border-radius: 100px;
        outline: unset;
        border: unset;
        background-color: #e9f6f9;
        padding: 17px 0px 17px 25px;
        font-size: 15px;
    }
    .search_btn {
        width: 100%;
        max-width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $sky;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 6px;
        right: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
    
        &:hover {
            background-color: black;
            transition: all 0.3s ease;
    
        }
    
        i {
            font-size: 16px;
            color: $white;
        }
    }
}
