.woocommerce_message {
    background-color: $sky;
    color: $white;
    padding: 11px 30px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.table_responsive {
    overflow: scroll;
    margin-bottom: 40px;
}

.cart_table {
    border: 1px solid #eaf0f2;
    width: 100%;
    min-width: 1000px;

    thead {
        background-color: #ecf0f1;

        tr {
            th {
                color: $dark-blue;
                font-size: 14px;
                font-family: $Manrope;
                padding: 27px 15px;
                border: none;
                text-align: center;
            }
        }
    }

    tbody {
        td {
            border: none;
            border-bottom: 1px solid #f3f3f3;
            color: #8b8b8b;
            padding: 20px 10px;
            font-family: $inter;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
        }

        .card_item {
            vertical-align: middle;

            .card_img {
                border: 2px solid #e9f6f9;
                display: inline-block;

                img {
                    width: 100%;
                    max-width: 90px !important;
                }
            }

            .quantity {
                justify-content: center;
                gap: 3px;

                button {
                    border: 2px solid #e9f6f9;
                    height: 30px;
                    width: 30px;
                    font-size: 14px;
                    justify-content: center;
                    border-radius: 4px;
                    color: #8b8b8b;

                }

                input {
                    max-width: 60px;
                    height: 30px;
                    padding: 0;
                    font-size: 14px;
                    border-radius: 4px;
                    border: 2px solid #e9f6f9;
                    font-weight: 700;
                }
            }

            .remove_btn {
                color: $sky;
                font-size: 16px;
            }
        }

        .bottom_action {
            padding-left: 20px;
            padding-right: 20px;

            .coupon_code {
                text-align: left;
                display: flex;
                gap: 10px;
                align-items: center;

                .form-control {
                    padding: 14px 25px !important;
                    font-size: 15px !important;
                    font-weight: 500;
                    border-radius: 8px !important;
                    width: 100%;
                    max-width: 250px;

                    &:focus {
                        border: 1px solid $sky !important;
                        box-shadow: none !important;
                    }
                }

                button {
                    outline: unset;
                    border: unset;
                }

            }

            .main-btn {
                background-color: $sky;
                padding: 16px 28px;

                &:before {
                    background-color: $dark-blue;
                }
            }
        }


    }
}

.cart {
    .summery_title {
        font-size: 30px;
        color: $dark-blue;
        font-weight: 600;
        margin-bottom: 15px;
    }

    table.cart_totals {
        border: 1px solid #eaf0f2;
        width: 100%;

        tr {
            td:first-child {
                width: 45%;
                background-color: #f9fbfb;
                font-weight: 700;
                font-size: 14px;
                color: #333333;
            }

            td {
                vertical-align: top;
                padding: 20px 20px;
                border-bottom: 1px solid #ecf0f1;
                font-size: 14px;
                color: $dark-blue;
                width: 55%;
                font-family: $inter;
            }

            .woocommerce-shipping-methods {
                .form-check-input:checked {
                    background-color: $sky !important;
                    border-color: $sky !important;
                }

                .form-check-input:focus {
                    box-shadow: unset;
                }

                .form-check-input {
                    width: 20px;
                    height: 20px;
                    border-color: $sky;
                }

                .form-check-label {
                    line-height: 2;
                    font-size: 14px;
                    color: $dark-blue;
                    font-weight: 600;
                    margin-left: 5px;
                }

            }

            p {
                font-size: 14px;
                color: #6e7070;
                margin-bottom: 10px;
            }

            .change_btn {
                border-bottom: 1px solid $dark-blue;
                color: $dark-blue;
                font-size: 14px;
                font-family: $inter;
                font-weight: 600;
                padding-bottom: 4px;
            }
        }

        .total_order .amount {
            color: $sky;
        }
    }

    .checkout_process {
        margin-top: 30px;

        .main-btn {
            background-color: $sky;

            &:before {
                background-color: $dark-blue;
            }
        }
    }
}

//wishlist
.wishlist {

    .table,
    th,
    td {
        border: 1px solid #ecf0f1 !important;
    }

    thead {
        background-color: #e9f6f9;
    }

    .card_item {
        vertical-align: middle;

        .card_img {
            border: unset !important;
            display: inline-block;

            img {
                width: 100%;
                max-width: 90px !important;
            }
        }

        .quantity {
            justify-content: center;
            gap: 3px;

            button {
                border: 2px solid #e9f6f9;
                height: 30px;
                width: 30px;
                font-size: 14px;
                justify-content: center;
                border-radius: 4px;
                color: #8b8b8b;

            }

            input {
                max-width: 60px;
                height: 30px;
                padding: 0;
                font-size: 14px;
                border-radius: 4px;
                border: 2px solid #e9f6f9;
                font-weight: 700;
            }
        }
    }
    .main-btn{
        padding: 12px 16px;
        font-size: 14px;
        background-color: $sky;

        &::before{
            background-color: $dark-blue;
        }
    }
}