* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body.body_hidden {
    overflow: hidden;
}

// our-featured  start

.our-featured {
    background-image: url("../img/line-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .destination-area {
        .destination-item {
            width: 100%;
            max-width: 170px;
            height: 600px;
            position: relative;
            border-radius: 22px;
            cursor: pointer;
            transition: all 0.5s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                border-radius: 22px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 22px;
            }

            .destination-content {
                position: absolute;
                z-index: 2;
                bottom: 70px;
                left: 0;
                transform: rotate(-90deg);

                .box-title {
                    color: $white;
                }

                .dec-subtitle {
                    color: $white;
                    font-size: 16px;
                    font-family: $inter;
                }
            }

            .des-btn {
                position: absolute;
                z-index: 2;
                right: 30px;
                bottom: 40px;
                visibility: hidden;
                opacity: 0;
            }

            &.active {
                max-width: 530px;

                .destination-content {
                    left: 30px;
                    bottom: 40px;
                    transform: rotate(0deg);
                    transition: all 0.6s linear;
                }

                .des-btn {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

    }
}

// offer-deals
.offer-deals {
    .offer-deals-wrapp {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        .accordion {
            .accordion-item {
                border: unset;
                width: 100%;
                min-width: 336px;

                .accordion-button.collapsed {
                    border-bottom: 1px solid $gray !important;
                }

                .body_title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: $sky;
                    display: block;
                    margin-bottom: 10px;
                }

                .box-title {
                    color: $dark-blue;
                    font-weight: 600;
                }

                .accordion-button:focus {
                    outline: 0;
                    box-shadow: unset;
                }

                .accordion-button:focus .accordion-item {
                    border-color: #0c63e4 !important;
                }

                .accordion-button:not(.collapsed) {
                    color: $dark-blue;
                    background-color: #fff;
                    box-shadow: unset;
                    padding: 10px 0px 0px 0px;
                }

                .accordion-body {
                    background-color: transparent;
                    border: none;
                    padding: 0px;
                    border-bottom: 1px solid $sky !important;
                }
            }
        }

        .card_hover {
            img {
                border-radius: 16px;
                transform: rotate(6deg);
            }
        }
    }

    .uk {
        .uk-grid {
            margin-left: 0px !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .round {
            position: relative;
            text-align: center;
            border-radius: 50%;
            border: 1px solid $sky;
            padding: 30px 20px;
            width: 110px;
        }

        .uk-countdown-number {
            font-size: 25px !important;
            font-weight: 600;
            color: $dark-blue;
        }

        .uk-countdown-separator {
            display: flex;
            align-items: center;
            font-size: 35px !important;
            font-weight: 700;
            padding: 0px 3px !important;
            color: $dark-blue;
        }

        .uk-countdown-label {
            margin-top: 5px !important;
            color: $dark-blue;
            font-weight: 400;
            display: inline-block !important;
        }
    }
}

// popular-destination
.popular-destination {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;
    // background-size: contain;
    margin-bottom: -400px !important;

    .swiper-wrapper {
        padding: 25px 0px !important;
    }

    .tour-card {
        height: 100%;
        position: relative;

        &:hover img {
            transform: scale(1.2);
            transition: all 0.4s linear;
        }

        .tour-card-img {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 16px;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0;
                top: 0;
                left: 0;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.5);
            }

            &:hover:after {
                height: 100%;
                opacity: 0;
                transition: all 0.5s ease;
            }

            img {
                width: 100%;
                object-fit: cover;
                transition: all 0.5s ease;
            }
        }

        &:hover .tour-card-content {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: all 0.5s ease-out;
        }

        .tour-card-content {
            position: absolute;
            top: 16px;
            left: 16px;
            border: 1px solid white;
            background-color: rgba(17, 61, 72, 0.5);
            padding: 24px;
            border-radius: 16px;
            backdrop-filter: blur(5px);
            width: calc(100% - 16px*2);
            height: calc(100% - 16px*2);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transform: scale(0);
            transition: 0.4s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .box-title {
                a {
                    color: $white;
                    font-size: 20px;

                    &:hover {
                        color: $sky;
                        transition: all 0.4s ease;
                    }
                }
            }

            .tour_raiting {
                margin-top: 3px;
                margin-bottom: 15px;

                .star {
                    i {
                        color: orange;
                    }
                }

                .count {
                    color: $white;
                }
            }

            .tour-card_price {
                color: $white;

                .currency {
                    font-size: 25px;
                    font-weight: 600;
                }
            }

            .tour_action {
                span {
                    color: $white;

                    i {
                        margin-right: 9px;
                    }
                }

                .white-btn {
                    padding: 8px 12px;
                }
            }
        }
    }
}

//counter-sec{
.counter-sec {
    background-image: url("../img/line-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 520px !important;
    overflow: hidden;

    .row {
        .counter-card-wrap:nth-child(even) .counter-card {
            margin-top: 0px;
        }

        .counter-card-wrap {

            &:nth-child(even) .counter-card .counter-shape::before,
            &:nth-child(even) .counter-card .counter-shape::after {
                bottom: unset;
                top: 10%;
                right: 16%;
            }

            &:nth-child(even) .counter-card .counter-shape span {
                top: 24px;
                right: 43px;
            }

            .counter-card {
                position: relative;
                background-color: #E9F6F9;
                width: 264px;
                height: 264px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                text-align: center;
                border-radius: 50%;
                z-index: 2;
                margin-top: 140px;

                &:hover .counter-shape {
                    animation: spin 10s linear infinite;
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                .counter-shape {
                    position: absolute;
                    inset: -24px;
                    width: 312px;
                    height: 312px;
                    border-radius: 50%;
                    border: 1px solid $sky;
                    transition: all 0.4s ease-in-out;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 20%;
                        right: 7%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $sky;
                    }

                    &::after {
                        animation: ripple 2s ease-in-out infinite;
                    }

                    @keyframes ripple {
                        0% {
                            transform: scale(1);
                            opacity: 0;
                        }

                        30% {
                            opacity: 0.4;
                        }

                        100% {
                            transform: scale(2.9);
                            opacity: 0.2;
                        }
                    }

                    span {
                        position: absolute;
                        top: unset;
                        bottom: 55px;
                        right: 15px;
                        width: 24px;
                        height: 24px;
                        display: block;
                        border-radius: 50%;
                        background-color: rgba(28, 168, 203, 0.2);
                        z-index: 2;
                    }
                }

                .media-body {
                    .box-number {
                        font-weight: 600;
                        font-size: 48px !important;
                        line-height: 48px;
                        text-transform: capitalize;
                        color: $black;
                        margin-bottom: 7px;
                    }

                    .counter-title {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        color: $black;
                    }
                }
            }
        }
    }
}

// best-memorable
.best-memorable {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;

    .gallery-box_wrap {
        .galler-box:nth-child(2) {
            margin-top: 20px;
        }

        .galler-box {
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &:hover .gallery-img::after {
                opacity: 1;
                transform: scale(1);
                transition: all 0.4s linear;
            }

            &:hover .icone-serch {
                transform: scale(1);
                transition: all 0.4s linear;
            }

            .icone-serch {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                font-size: 40px;
                z-index: 2;
                transform: scale(0);
                transition: all 0.3s ease;
            }

            .gallery-img {
                overflow: hidden;
                border-radius: 16px;

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }

                &:hover img {
                    transform: scale(1.3);
                    transition: all 0.5s linear;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: all 0.5s linear;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 1;
                    transform: scale(0);
                    transition: all 0.4s linear;
                }
            }


        }
    }
}

// meet-guide
.meet-guide {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

//blog
.blog {
    background-color: #E9F6F9;

    .main-btn {
        background-color: transparent;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        padding: 14px 28px !important;
    }

    .main-btn:hover {
        border-color: $sky;
    }

    .blog_box {
        .blog_img {
            overflow: hidden;
            position: relative;
            border-radius: 16px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.5);
            }

            img {
                border-radius: 16px;
                position: relative;
                width: 100%;
                height: 100%;
                transition: all 0.4s linear;
            }
        }

        &:hover .blog_img img {

            transform: scale(1.05);
            transition: all 0.4s linear;
        }

        &:hover .blog_img::after {
            height: 100%;
            opacity: 0;
            transition: all 0.5s ease;

        }

        .blog_content {
            margin-top: 10px;

            .read-cap {
                a:nth-child(1)::after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 0;
                    height: 9px;
                    width: 1px;
                    background-color: $gray;

                }

                a {
                    font-size: 14px;
                    color: $gray;
                    position: relative;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $sky;
                        transition: all 0.3s linear;

                    }
                }
            }

            .box-title {
                margin-top: 10px;
                margin-bottom: 26px;

                a {
                    font-size: 23px;
                    color: $dark-blue ;
                    font-weight: 500;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $sky;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
    }
}

// testimonial
.testimonial {
    .testimonial-slider {
        .testimonial_box {
            position: relative;
            padding: 40px 40px 64px;
            background: #E9F6F9 !important;
            border-radius: 24px;
        }
    }
}

// ****************
//   about page
// ****************
.welcome-tourm {
    .img-box {
        position: relative;

        .img2 {
            position: absolute;
            top: 20%;
            right: 12%;
            z-index: 1;

            img {
                border: 5px solid #fff;
            }
        }

        .img3 {
            margin-top: 30px;
            position: relative;
            z-index: 2;

            img {
                border: 5px solid #fff;
            }
        }

        img {
            border-radius: 24px;
        }
    }

    .movingx {
        animation: movingX 8s linear infinite;
    }

    @keyframes movingX {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .about-item-wrap {
        margin-top: 30px;

        .about-item {
            gap: 16px;
            width: 100%;
            max-width: 400px;

            .about-item-img {
                height: 72px;
                width: 100%;
                min-width: 72px;
                max-width: 72px;
                background-color: #e9f6f9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .about-item-content {
                h5 {
                    color: $dark-blue;
                    margin-bottom: 5px;
                }
            }
        }

        .main-btn {
            display: inline-block;
            margin-top: 30px;
            padding: 18.8px 35px;
            border-radius: 48px;
        }
    }
}

// services
.services {
    .services_card {
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.4s ease;

        &:hover {
            transform: translateY(-5px);
            transition: all 0.4s ease;

        }

        .services_img {
            position: relative;
            overflow: hidden;
            width: 100%;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                background: rgba(255, 255, 255, 0.5);
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 1;
            }

            &:hover:after {
                opacity: 0;
                height: 100%;
                transition: all 0.4s linear;
            }

            &:hover img {
                transform: scale(1.3);
                transition: all 0.4s linear;
            }

            img {
                width: 100%;
                object-fit: cover;
                transition: all 0.4s linear;
            }
        }

        .services_content {
            padding: 20px 0px;
            background-color: #e9f6f9;

            .box-title {
                font-weight: 600;
                color: black;
                transition: all 0.3s linear;

                &:hover {
                    color: $sky;
                }
            }

            .main-btn {
                padding: 10px 25px !important;
                background: transparent;
                color: $dark-blue;
                border: 1px solid $sky !important;
                margin-top: 20px;
                font-weight: 500;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

// ****************
//   destination page
// ****************
.destination {
    .search-form-area {
        position: relative;

        input {
            width: 100%;
            border-radius: 100px;
            outline: unset;
            border: unset;
            background-color: #e9f6f9;
            padding: 17px 0px 17px 25px;
            font-size: 15px;
        }

        .search_btn {
            width: 100%;
            max-width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $sky;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 6px;
            right: 8px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: black;
                transition: all 0.3s ease;

            }

            i {
                font-size: 16px;
                color: $white;
            }
        }
    }

    .sorting-filter-wrap {
        .tab_list {
            border: 1px solid #E9F6F9;
            padding: 5px;
            border-radius: 4px;

            .btnactive {
                background-color: $sky;
                border-radius: 5px;
                color: $white;
            }

            .tab_list_btn {
                padding: 6px 7px;
            }

            .tab_list_btn i {
                font-size: 17px;
            }
        }

        select {
            outline: unset !important;
            border: unset !important;
            font-size: 16px;
            color: $dark-blue;
            font-weight: 500;
            width: fit-content;
            max-width: 160px;
        }

    }

    // .grid {
    .destination_card {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        background-color: $white;
        border: 1px solid #BCCED2;
        transition: all 0.3s linear;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 15px 20px rgba(204, 204, 204, 0.25);
            transition: all 0.3s linear;
        }

        .destination_img {
            position: relative;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                transition: all 0.4s linear;

            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                background: rgba(255, 255, 255, 0.5);
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 1;
            }

            &:hover:after {
                opacity: 0;
                height: 100%;
                transition: all 0.4s linear;
            }

        }

        &:hover img {
            transform: scale(1.3);
            transition: all 0.4s linear;
        }

        .destination_content {
            padding: 24px 24px 16px 24px;

            .card_title {
                font-size: 20px !important;
                color: black;
                transition: all 0.3s linear;

                &:hover {
                    color: $sky;
                    transition: all 0.3s linear;
                }
            }

            .tour-rating {
                margin-bottom: 5px;

                .star-rating {
                    i {
                        color: #FFA944;
                        font-size: 14px;
                    }
                }

                span {
                    font-size: 16px;
                    color: #6e7070;
                }
            }

            .box_price {
                margin-bottom: 30px;

                span {
                    color: #6e7070;
                    font-size: 18px;
                }
            }

            .destination_bottom {
                span {
                    font-size: 16px;
                    color: #113d48;
                }

                .main-btn {
                    background-color: transparent !important;
                    border: 1px solid gray;
                    padding: 10px 19px;
                    color: $dark-blue;

                    &:hover {
                        color: $white;
                        border-color: $sky;
                    }
                }
            }
        }
    }

    // }
    .destination_pagination {
        padding-top: 30px;

        li {
            margin: 0px 5px;

            .activebtn {
                background-color: $sky;
                color: $white;
            }

            a {
                border: 1px solid #E1E4E6;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                transition: all 0.4s ease-in-out;
                align-content: center;
                text-align: center;
                display: inline-block;
                color: $dark-blue;
                font-size: 18px;
                font-weight: 400;

                &:hover {
                    background-color: $sky;
                    color: $white;
                }

                &.next_btn {
                    width: auto;
                    padding: 0 24px;
                    border-radius: 30px;
                }
            }
        }
    }

    .de_list {
        .col-md-6 {
            width: 100%;
        }

        .destination_card {
            display: flex;
            align-items: center;
            gap: 30px;

            .destination_content {
                padding: 0;

                .destination_bottom {
                    gap: 30px;
                }
            }
        }
    }

    .sidebar {
        .categories_title {
            font-size: 25px;
            color: $dark-blue;
            border-bottom: 3px solid #e9edf5;
            padding-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 30px;
                top: 100%;
                left: 0;
                background-color: $sky;
            }
        }

        .categories,
        .recent_post,
        .popular_tags {
            border: 1px solid #BCCED2;
            border-radius: 16px;
            padding: 20px;
        }

        .categories {
            .categories_list {
                margin-top: 15px;

                li {
                    position: relative;
                    border-bottom: 1px solid #BCCED2;

                    img {
                        position: absolute;
                        top: 13px;
                        left: 0;
                    }

                    a {
                        color: $dark-blue;
                        font-weight: 500;
                        display: flex;
                        justify-content: space-between;
                        padding: 13px 0px;
                        position: relative;
                        z-index: 2;
                        padding-left: 30px;

                        &:hover {
                            color: $sky;
                        }
                    }
                }
            }
        }

        .recent_post {
            margin-top: 30px;

            .categories_title {
                margin-bottom: 25px;
            }

            .recent_post_item {
                margin-top: 20px;

                &:hover .recent_img::before {
                    scale: 1;
                    transition: all 0.4s ease;
                }

                .recent_img {
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;
                    height: 80px;
                    width: 100%;
                    min-width: 80px;
                    max-width: 80px;

                    &::before {
                        content: "\f0c1";
                        font-family: "FontAwesome";
                        font-size: 20px;
                        color: $sky;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                        border-radius: 5px;
                        z-index: 1;
                        text-align: center;
                        align-content: center;
                        scale: 0;
                        transition: all 0.4s ease;

                    }
                }

                .recent_content {
                    a {
                        font-size: 18px;
                        font-weight: 500;
                        color: $dark-blue;
                        display: block;
                        transition: all 0.3s linear;

                        &:hover {
                            color: $sky;
                            transition: all 0.3s linear;

                        }
                    }

                    .date {
                        font-size: 16px !important;
                        color: #6c7585;
                        margin-top: 5px;

                        i {
                            color: #6c7585 !important;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .popular_tags {
            margin-top: 30px;

            .popular_tags_btn {
                margin-top: 20px;

                a {
                    display: inline-block;
                    padding: 9.5px 14px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                    color: $dark-blue;
                    font-size: 16px;
                    font-weight: 400;
                    background-color: #E9F6F9;
                    border-radius: 4px;
                    transition: all 0.3s linear;

                    &:hover {
                        background-color: $sky;
                        color: $white;
                        transition: all 0.3s linear;

                    }
                }
            }
        }
    }
}

// ****************
//   contact page
// ****************
.our-contact {
    .about-contact {
        gap: 24px;
        border: 1px solid #E1E4E6;
        border-radius: 8px;
        padding: 24px 24px 18px;

        &:hover .icon {
            background-color: $sky;
            color: $white;
        }

        .icon {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $dark-blue;

            i {
                color: $white;
                font-size: 32px;
            }
        }

        .content {
            h6 {
                font-weight: 600;
                color: $dark-blue;
                margin-bottom: 2px;
            }

            p {
                color: $dark-blue;
            }
        }
    }
}

//form_contain
.form_contain {
    padding: 70px 0px;
    background-image: url("../img/video_bg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .contact-form {
        background-color: #fff;
        box-shadow: 0px 20px 20px rgba(204, 204, 204, 0.25);
        border-radius: 16px;
        padding: 40px;

        h3 {
            color: $dark-blue;
            margin-bottom: 30px;
        }

        .form-group {
            position: relative;

            .form-control {
                padding: 15px 25px !important;
                font-size: 15px !important;
                font-weight: 500;
                border-radius: 8px !important;

                &:focus {
                    border: 1px solid $sky !important;
                }
            }

            img {
                position: absolute;
                top: 17px;
                right: 25px;
            }
        }

        .nice-select {
            padding: 15px 25px !important;
            font-size: 15px !important;
            font-weight: 500;
            border-radius: 8px !important;
            float: unset !important;
            height: unset !important;
            line-height: unset !important;
            color: #6c7585;

            &:focus {
                border: 1px solid $sky !important;
            }

            &:after {
                width: 9px !important;
                height: 9px !important;
                right: 20px !important;
            }

            .list {
                width: 100%;
                border-radius: unset !important;
                border-bottom: 3px solid $sky;
            }
        }

        .nice-select .option.selected {
            color: $sky !important;
            background: $sky !important
        }

        .nice-select .option.selected.focus,
        .nice-select .option:hover,
        .nice-select .option.focus {
            color: #fff !important;
            background: $sky !important
        }

        .main-btn {
            margin-top: 40px;
            padding: 19.5px 42px !important;
            border-radius: 48px;
        }
    }

    .paly-btn {
        position: relative;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.3);

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
            border-radius: 50%;
        }

        &::after {
            border: 1px solid #fff;
            animation: ripple 2s ease-in-out infinite;
        }

        @keyframes ripple {
            0% {
                transform: scale(1);
                opacity: 0;
            }

            30% {
                opacity: 0.4;
            }

            100% {
                transform: scale(1.5);
                opacity: 0.2;
            }
        }

        i {
            display: inline-block;
            font-size: 30px;
            color: #fff;
        }
    }
}