* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body.body_hidden {
    overflow: hidden;
}

// our-featured  start

.our-featured {
    background-image: url("../img/line-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .destination-area {
        .destination-item {
            width: 100%;
            max-width: 170px;
            height: 600px;
            position: relative;
            border-radius: 22px;
            cursor: pointer;
            transition: all 0.5s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                border-radius: 22px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 22px;
            }

            .destination-content {
                position: absolute;
                z-index: 2;
                bottom: 70px;
                left: 0;
                transform: rotate(-90deg);

                .box-title {
                    color: $white;
                }

                .dec-subtitle {
                    color: $white;
                    font-size: 16px;
                    font-family: $inter;
                }
            }

            .des-btn {
                position: absolute;
                z-index: 2;
                right: 30px;
                bottom: 40px;
                visibility: hidden;
                opacity: 0;
            }

            &.active {
                max-width: 530px;

                .destination-content {
                    left: 30px;
                    bottom: 40px;
                    transform: rotate(0deg);
                    transition: all 0.6s linear;
                }

                .des-btn {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

    }
}

// offer-deals
.offer-deals {
    .offer-deals-wrapp {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        .accordion {
            .accordion-item {
                border: unset;
                width: 100%;
                min-width: 336px;

                .accordion-button.collapsed {
                    border-bottom: 1px solid $gray !important;
                }

                .body_title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: $sky;
                    display: block;
                    margin-bottom: 10px;
                }

                .box-title {
                    color: $dark-blue;
                    font-weight: 600;
                }

                .accordion-button:focus {
                    outline: 0;
                    box-shadow: unset;
                }

                .accordion-button:focus .accordion-item {
                    border-color: #0c63e4 !important;
                }

                .accordion-button:not(.collapsed) {
                    color: $dark-blue;
                    background-color: #fff;
                    box-shadow: unset;
                    padding: 10px 0px 0px 0px;
                }

                .accordion-body {
                    background-color: transparent;
                    border: none;
                    padding: 0px;
                    border-bottom: 1px solid $sky !important;
                }
            }
        }

        .card_hover {
            img {
                border-radius: 16px;
                transform: rotate(6deg);
            }
        }
    }

    .uk {
        .uk-grid {
            margin-left: 0px !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .round {
            position: relative;
            text-align: center;
            border-radius: 50%;
            border: 1px solid $sky;
            padding: 30px 20px;
            width: 110px;
        }

        .uk-countdown-number {
            font-size: 25px !important;
            font-weight: 600;
            color: $dark-blue;
        }

        .uk-countdown-separator {
            display: flex;
            align-items: center;
            font-size: 35px !important;
            font-weight: 700;
            padding: 0px 3px !important;
            color: $dark-blue;
        }

        .uk-countdown-label {
            margin-top: 5px !important;
            color: $dark-blue;
            font-weight: 400;
            display: inline-block !important;
        }
    }
}

// popular-destination
.popular-destination {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;
    // background-size: contain;
    margin-bottom: -400px !important;

    .swiper-wrapper {
        padding: 25px 0px !important;
    }

    .tour-card {
        height: 100%;
        position: relative;

        &:hover img {
            transform: scale(1.2);
            transition: all 0.4s linear;
        }

        .tour-card-img {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 16px;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0;
                top: 0;
                left: 0;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.5);
            }

            &:hover:after {
                height: 100%;
                opacity: 0;
                transition: all 0.5s ease;
            }

            img {
                width: 100%;
                object-fit: cover;
                transition: all 0.5s ease;
            }
        }

        &:hover .tour-card-content {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: all 0.5s ease-out;
        }

        .tour-card-content {
            position: absolute;
            top: 16px;
            left: 16px;
            border: 1px solid white;
            background-color: rgba(17, 61, 72, 0.5);
            padding: 24px;
            border-radius: 16px;
            backdrop-filter: blur(5px);
            width: calc(100% - 16px*2);
            height: calc(100% - 16px*2);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transform: scale(0);
            transition: 0.4s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .box-title {
                a {
                    color: $white;
                    font-size: 20px;

                    &:hover {
                        color: $sky;
                        transition: all 0.4s ease;
                    }
                }
            }

            .tour_raiting {
                margin-top: 3px;
                margin-bottom: 15px;

                .star {
                    i {
                        color: orange;
                    }
                }

                .count {
                    color: $white;
                }
            }

            .tour-card_price {
                color: $white;

                .currency {
                    font-size: 25px;
                    font-weight: 600;
                }
            }

            .tour_action {
                span {
                    color: $white;

                    i {
                        margin-right: 9px;
                    }
                }

                .white-btn {
                    padding: 8px 12px;
                }
            }
        }
    }
}

//counter-sec{
.counter-sec {
    background-image: url("../img/line-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 520px !important;
    overflow: hidden;

    .row {
        .counter-card-wrap:nth-child(even) .counter-card {
            margin-top: 0px;
        }

        .counter-card-wrap {

            &:nth-child(even) .counter-card .counter-shape::before,
            &:nth-child(even) .counter-card .counter-shape::after {
                bottom: unset;
                top: 10%;
                right: 16%;
            }

            &:nth-child(even) .counter-card .counter-shape span {
                top: 24px;
                right: 43px;
            }

            .counter-card {
                position: relative;
                background-color: #E9F6F9;
                width: 264px;
                height: 264px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                text-align: center;
                border-radius: 50%;
                z-index: 2;
                margin-top: 140px;

                &:hover .counter-shape {
                    animation: spin 10s linear infinite;
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                .counter-shape {
                    position: absolute;
                    inset: -24px;
                    width: 312px;
                    height: 312px;
                    border-radius: 50%;
                    border: 1px solid $sky;
                    transition: all 0.4s ease-in-out;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 20%;
                        right: 7%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $sky;
                    }

                    &::after {
                        animation: ripple 2s ease-in-out infinite;
                    }

                    @keyframes ripple {
                        0% {
                            transform: scale(1);
                            opacity: 0;
                        }

                        30% {
                            opacity: 0.4;
                        }

                        100% {
                            transform: scale(2.9);
                            opacity: 0.2;
                        }
                    }

                    span {
                        position: absolute;
                        top: unset;
                        bottom: 55px;
                        right: 15px;
                        width: 24px;
                        height: 24px;
                        display: block;
                        border-radius: 50%;
                        background-color: rgba(28, 168, 203, 0.2);
                        z-index: 2;
                    }
                }

                .media-body {
                    .box-number {
                        font-weight: 600;
                        font-size: 48px !important;
                        line-height: 48px;
                        text-transform: capitalize;
                        color: $black;
                        margin-bottom: 7px;
                    }

                    .counter-title {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        color: $black;
                    }
                }
            }
        }
    }
}

// best-memorable
.best-memorable {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;

    .gallery-box_wrap {
        .galler-box:nth-child(2) {
            margin-top: 20px;
        }

        .galler-box {
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &:hover .gallery-img::after {
                opacity: 1;
                transform: scale(1);
                transition: all 0.4s linear;
            }

            &:hover .icone-serch {
                transform: scale(1);
                transition: all 0.4s linear;
            }

            .icone-serch {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                font-size: 40px;
                z-index: 2;
                transform: scale(0);
                transition: all 0.3s ease;
            }

            .gallery-img {
                overflow: hidden;
                border-radius: 16px;

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }

                &:hover img {
                    transform: scale(1.3);
                    transition: all 0.5s linear;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: all 0.5s linear;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 1;
                    transform: scale(0);
                    transition: all 0.4s linear;
                }
            }


        }
    }
}

// meet-guide
.meet-guide {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

//blog
.blog {
    background-color: #E9F6F9;

    .main-btn {
        background-color: transparent;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        padding: 14px 28px !important;
    }

    .main-btn:hover {
        border-color: $sky;
    }

    .blog_box {
        .blog_img {
            overflow: hidden;
            position: relative;
            border-radius: 16px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.5);
            }

            img {
                border-radius: 16px;
                position: relative;
                width: 100%;
                height: 100%;
                transition: all 0.4s linear;
            }
        }

        &:hover .blog_img img {

            transform: scale(1.05);
            transition: all 0.4s linear;
        }

        &:hover .blog_img::after {
            height: 100%;
            opacity: 0;
            transition: all 0.5s ease;

        }

        .blog_content {
            margin-top: 10px;

            .read-cap {
                a:nth-child(1)::after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 0;
                    height: 9px;
                    width: 1px;
                    background-color: $gray;

                }

                a {
                    font-size: 14px;
                    color: $gray;
                    position: relative;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $sky;
                        transition: all 0.3s linear;

                    }
                }
            }

            .box-title {
                margin-top: 10px;
                margin-bottom: 26px;

                a {
                    font-size: 23px;
                    color: $dark-blue ;
                    font-weight: 500;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $sky;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
    }
}

// testimonial
.testimonial {
    .testimonial-slider {
        .testimonial_box {
            position: relative;
            padding: 40px 40px 64px;
            background: #E9F6F9 !important;
            border-radius: 24px;
        }
    }
}

// ****************
//   about page
// ****************
.welcome-tourm {
    .img-box {
        position: relative;

        .img2 {
            position: absolute;
            top: 20%;
            right: 12%;
            z-index: 1;

            img {
                border: 5px solid #fff;
            }
        }

        .img3 {
            margin-top: 30px;
            position: relative;
            z-index: 2;

            img {
                border: 5px solid #fff;
            }
        }

        img {
            border-radius: 24px;
        }
    }

    .movingx {
        animation: movingX 8s linear infinite;
    }

    @keyframes movingX {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .about-item-wrap {
        margin-top: 30px;

        .about-item {
            gap: 16px;
            width: 100%;
            max-width: 400px;

            .about-item-img {
                height: 72px;
                width: 100%;
                min-width: 72px;
                max-width: 72px;
                background-color: #e9f6f9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .about-item-content {
                h5 {
                    color: $dark-blue;
                    margin-bottom: 5px;
                }
            }
        }

        .main-btn {
            display: inline-block;
            margin-top: 30px;
            padding: 18.8px 35px;
            border-radius: 48px;
        }
    }
}

// services
.services {
    .services_card {
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.4s ease;

        &:hover {
            transform: translateY(-5px);
            transition: all 0.4s ease;

        }

        .services_content {
            padding: 20px 0px;
            background-color: #e9f6f9;

            .box-title {
                font-weight: 600;
                color: black;
                transition: all 0.3s linear;

                &:hover {
                    color: $sky;
                }
            }

            .main-btn {
                padding: 10px 25px !important;
                background: transparent;
                color: $dark-blue;
                border: 1px solid $sky !important;
                margin-top: 20px;
                font-weight: 500;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

// ****************
//   destination page
// ****************
.destination {
    .sorting-filter-wrap {
        .tab_list {
            border: 1px solid #E9F6F9;
            padding: 5px;
            border-radius: 4px;

            .btnactive {
                background-color: $sky;
                border-radius: 5px;
                color: $white;
            }

            .tab_list_btn {
                padding: 6px 7px;
            }

            .tab_list_btn i {
                font-size: 17px;
            }
        }

        select {
            outline: unset !important;
            border: unset !important;
            font-size: 16px;
            color: $dark-blue;
            font-weight: 500;
            width: fit-content;
            max-width: 160px;
        }

    }

    .de_list {
        .col-md-6 {
            width: 100%;
        }

        .destination_card {
            display: flex;
            align-items: center;
            gap: 30px;

            .destination_content {
                padding: 0;

                .destination_bottom {
                    gap: 30px;
                }
            }
        }
    }
}

// ****************
//   contact page
// ****************
.our-contact {
    .about-contact {
        gap: 24px;
        border: 1px solid #E1E4E6;
        border-radius: 8px;
        padding: 24px 24px 18px;

        &:hover .icon {
            background-color: $sky;
            color: $white;
            transition: all 0.3s linear;

        }

        .icon {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $dark-blue;
            transition: all 0.3s linear;

            i {
                color: $white;
                font-size: 32px;
            }
        }

        .content {
            h6 {
                font-weight: 600;
                color: $dark-blue;
                margin-bottom: 2px;
            }

            p {
                color: $dark-blue;
            }
        }
    }
}

//form_contain
.form_contain {
    padding: 70px 0px;
    background-image: url("../img/video_bg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .contact-form {
        background-color: #fff;
        box-shadow: 0px 20px 20px rgba(204, 204, 204, 0.25);
        border-radius: 16px;
        padding: 40px;

        h3 {
            color: $dark-blue;
            margin-bottom: 30px;
        }

        .form-group {
            position: relative;

            .form-control {
                padding: 15px 25px !important;
                font-size: 15px !important;
                font-weight: 500;
                border-radius: 8px !important;

                &:focus {
                    border: 1px solid $sky !important;
                }
            }

            img {
                position: absolute;
                top: 17px;
                right: 25px;
            }
        }

        .nice-select {
            padding: 15px 25px !important;
            font-size: 15px !important;
            font-weight: 500;
            border-radius: 8px !important;
            float: unset !important;
            height: unset !important;
            line-height: unset !important;
            color: #6c7585;

            &:focus {
                border: 1px solid $sky !important;
            }

            &:after {
                width: 9px !important;
                height: 9px !important;
                right: 20px !important;
            }

            .list {
                width: 100%;
                border-radius: unset !important;
                border-bottom: 3px solid $sky;
            }
        }

        .nice-select .option.selected {
            color: $sky !important;
            background: $sky !important
        }

        .nice-select .option.selected.focus,
        .nice-select .option:hover,
        .nice-select .option.focus {
            color: #fff !important;
            background: $sky !important
        }

        .main-btn {
            margin-top: 40px;
            padding: 19.5px 42px !important;
            border-radius: 48px;
        }
    }


}

//destination_details page 

.destination_details {
    h3 {
        color: $dark-blue;
        margin-bottom: 20px;
    }

    .blockqutoes {
        position: relative;
        border: 1px solid #E1E4E6;
        padding: 22px 22px 22px 60px;
        margin-bottom: 40px;

        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            height: 40px;
            width: 40px;
            background-color: $white;
        }

        &::after {
            content: '\f10d';
            position: absolute;
            font-family: "FontAwesome";
            top: -21px;
            left: 0;
            font-size: 33px;
            color: $sky;
        }

        .scite {
            position: absolute;
            bottom: -16px;
            left: 15%;
            background-color: $sky;
            display: inline-block;
            padding: 1px 40px 1px 20px;
            font-size: 20px;
            font-family: $inter;
            color: $white;
            clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0% 100%);
        }
    }

}

//service page
.amazing_travel {
    background-image: url('../img/home/tour_bg_2.jpg');
    background-repeat: no-repeat;

    .amazing_tab {
        .nav {
            justify-content: center;
            gap: 16px;
            margin-bottom: 50px;

            .nav-link.active {
                background-color: $dark-blue !important;
                color: $white !important;

                & img {
                    filter: brightness(0) invert(1) !important;
                }
            }

            .nav-item {
                .nav-link {
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    gap: 6px;
                    font-size: 17px;
                    color: $sky;
                    background-color: $white;
                    border-radius: 48px;
                    padding: 8px 30px;
                    font-weight: 400;
                    z-index: 3;

                    &:hover img {
                        filter: brightness(0) invert(1) !important;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background-color: $dark-blue;
                        border-radius: 48px;
                        z-index: -1;
                        display: block;
                        transition: all 0.3s ease;
                    }

                    &:hover:before {
                        width: 100%;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        color: $white !important;
                    }
                }
            }
        }

        .tab-content {
            .service_card {
                border-radius: 16px;
                overflow: hidden;

                .service_img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

            }
        }
    }
}

.affordable {
    .price_card {
        border-radius: 16px;
        background-color: #e9f6f9;
        position: relative;
        color: $dark-blue;
        transition: all 0.3s linear;
        height: 100%;

        &:hover {
            color: $white;
            background-color: $dark-blue;
            transform: translateY(2px);
            transition: all 0.3s linear;
        }

        &:hover .span {
            color: $white !important;
        }

        &:hover .price_text {
            color: $white !important;
        }

        &:hover .checklist li {
            filter: brightness(0) invert(1) !important;
            color: $white !important;
        }

        &:hover .main-btn {
            border-color: $white !important;
        }

        &:hover .price_icon {
            background-color: #e9f6f9 !important;
        }

        &:hover .price_icon img {
            filter: none !important;
            transform: rotateY(180deg) !important;
            transition: 0.4s;
        }

        &.active {
            color: $white;
            background-color: $dark-blue;
            transform: translateY(2px);
            transition: all 0.3s linear;
        }

        &.active .span {
            color: $white !important;
        }

        &.active .price_text {
            color: $white !important;
        }

        &.active .checklist li {
            filter: brightness(0) invert(1) !important;
            color: $white !important;
        }

        &.active .main-btn {
            border-color: $white !important;
        }

        &.active .price_icon {
            background-color: #e9f6f9 !important;
        }

        &.active .price_icon img {
            filter: none !important;
            transform: rotateY(180deg) !important;
            transition: 0.4s;
        }

        .price_header {
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 40px 0px 40px 40px;
            border-bottom: 1px solid $white;
            margin-bottom: 20px;
            position: relative;

            .price_icon {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                background-color: $sky;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    filter: brightness(0) invert(1);
                    transition: 0.4s;
                }
            }

            .popular_tag {
                position: absolute;
                bottom: 0;
                right: -1px;
                background-color: $white;
                color: $dark-blue;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 19px 5px 36px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
            }
        }

        .price_content {
            padding: 0px 90px 30px;

            .price-card_price {
                font-size: 28px;
                font-weight: 500;

                .span {
                    font-size: 14px;
                    color: #6c7585;
                }
            }

            .price_text {
                font-weight: 500;
                margin: 15px 0px;
                color: $dark-blue;
            }

            .checklist {
                li {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    color: $dark-blue;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .price_btn {
            padding: 0px 60px 40px;

            .main-btn {
                font-size: 18px;
                padding: 21px 20px;
                border-radius: 48px;
                border: 1px solid transparent;

                &:hover {
                    border-color: $sky !important;
                }
            }
        }
    }

}

//blog page
.blog_page {
    .services_img {
        border-radius: 16px;
        overflow: hidden;
    }



    .tour_swiper {
        margin-top: 30px;
    }

    .youtube_link {
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        border-radius: 16px;

        img {
            width: 100%;
            object-fit: cover;
        }

        .youtube_btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            z-index: 9;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: $white;
            text-align: center;
            align-content: center;
            transition: all 0.4s linear;

            &:hover {
                background-color: $sky !important;
            }

            &:hover:before {
                background-color: $sky !important;
            }

            &:hover i {
                color: $white;
            }

            i {
                color: $dark-blue;
                font-size: 30px;
                display: inline-block;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: $white;
                z-index: -1;
                border-radius: 50%;
                transition: all ease 0.4s;

            }

            &::after {
                animation: ripple 2s ease-in-out infinite;
            }

            @keyframes ripple {
                0% {
                    transform: scale(1);
                    opacity: 0;
                }

                30% {
                    opacity: 0.4;
                }

                100% {
                    transform: scale(1.8);
                    opacity: 0.2;
                }
            }

        }
    }
}

//blog_details page
.blog_details {
    .services_img {
        border-radius: 10px;
        overflow: hidden;
    }

    .reviews {
        margin-top: 30px;
        margin-bottom: 30px;

        .children {
            margin-left: 80px;
        }

        .reviews_commets {
            border: unset !important;

            .comment-content {
                position: relative;

                .comment-wrapp {
                    margin-bottom: 15px;


                    span:not(:last-child) {
                        padding-right: 1px !important;
                        margin-right: 1px !important;
                    }

                    span:not(:last-child):after {
                        content: "";
                        height: 0 !important;
                        width: 0 !important;
                    }
                }

                .replay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 16px;
                    font-weight: 600;
                    color: $dark-blue;
                }

            }
        }
    }
}

//gallery page
.gallery_filter {
    .filter_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 50px;

        .buttons {
            font-size: 15px;
            color: $dark-blue;
            background-color: #E9F6F9;
            padding: 7px 20px;
            font-weight: 500;
            text-transform: capitalize;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                color: $white;
                background-color: $sky;
                transition: all 0.4s ease;
            }

            &.active {
                color: $white;
                background-color: $sky;
            }
        }
    }

    .image_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .image_box {
            .image_item {
                position: relative;
                overflow: hidden;
                border-radius: 16px;
                z-index: 2;

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(0deg, rgba(13, 13, 12, 0.5), rgba(13, 13, 12, 0.5));
                    border-radius: 16px;
                    opacity: 0;
                    z-index: 1;
                    transition: 0.4s ease;
                    transform: scale(0);
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            &:hover .image_item:after {
                opacity: 1;
                transform: scale(1);
            }

            .icone-serch {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                scale: 0;
                position: absolute;
                z-index: 3;
                border: none;
                font-size: 40px;
                font-weight: 300;
                color: $white;
            }

            &:hover .icone-serch {
                scale: 1;
            }
        }
    }
}

//tour guidr page
.guider_details.meet-guide {
    background-size: auto !important;
    background-position: top center !important;
}

.guider,
.guider_details {

    .team_box {
        background-color: #E9F6F9;
        border-radius: 16px;
        overflow: hidden;

        &:hover .guid_img img {
            transform: scale(1.1);
            transition: all 0.5s linear;
        }

        &:hover .team-des {
            color: $white !important;
        }

        .guid_img {
            overflow: hidden;

            img {
                width: 100%;
                max-width: 100%;
                transition: all 0.5s linear;
            }
        }

        .team_img {
            position: relative;
            z-index: 2;
            max-width: 280px !important;
            height: 280px !important;
            margin: 0 auto;
            margin-top: -100px;
        }

        .team_content {
            background-color: #E9F6F9;
            padding: 25px 16px 16px 16px;
            margin-top: unset !important;
            border-radius: 16px;

            .media_content {
                background-color: $white;

                .box-title {
                    margin-bottom: 7px;
                }

                .team-des {
                    font-size: 16px;
                    font-weight: 500;
                    color: #6c7585;
                    margin-bottom: 10px;
                }

                .social {
                    gap: 10px;
                }
            }
        }
    }
}

//guider detail page

.team_about {
    .box-title {
        font-size: 40px;
        font-family: $Manrope;
        font-weight: 600;
        color: $dark-blue;
        margin-bottom: 20px;
        line-height: 1;
    }

    .team_about_text {
        font-size: 16px;
        margin-bottom: 18px;
        color: #6c7585;
        line-height: 1.75;
    }

    .team_about_title {
        color: $dark-blue;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .team_about_details {
        color: $dark-blue;
        margin-bottom: 30px;
    }

    .counter_box_wrapper {
        .counter_box {
            border: 1px solid #E1E4E6;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 60px 0px;

            .counter-title {
                font-size: 16px;
                color: #6c7585;
            }
        }
    }
}

//faq page
.faq {
    .faq_text {
        color: #6c7585;
    }

    .accordion-button::after {
        background-image: none !important;
        content: '\f078';
        font-family: 'fontawesome';
        font-size: 18px;
        transition: 0.3s ease-in-out;
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotateX(180deg) !important;
    }

    .accordion-button:focus {
        outline: unset;
        box-shadow: unset;
        border: unset;
    }

    .accordion-button:not(.collapsed) {
        color: $dark-blue !important;
        background-color: unset;
        box-shadow: unset;
    }

    .accordion {
        .accordion-item {
            border-top: 1px solid $dark-blue !important;
            border-color: $dark-blue !important;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .accordion-header {
                .accordion-button {
                    padding: 16px 30px;
                    font-size: 24px;
                    color: $dark-blue;
                    font-weight: 500;
                }
            }

            .accordion-body {
                padding: 16px 30px !important;
                padding-top: 0 !important;
            }

        }
    }
}

.faq_form {
    background-image: url("../img/tour_bg_3.jpg");
    background-size: contain;
    background-position: top center;

    .title-area {
        margin-bottom: 30px !important;
    }

    .contact-form {
        button {
            width: auto !important;
        }

        .main-btn {
            padding: 19.5px 42px;
            border-radius: 48px;
            font-size: 16px !important;
        }
    }
}

//error page
.error_page {
    background-color: #E9F6F9;

    .error_content {
        .error-subtitle {
            color: $dark-blue;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .error-text {
            color: $dark-blue;
            line-height: 1.75;
            margin-bottom: 20px;
        }

        .main-btn {
            padding: 18.8px 35px;
            border-radius: 48px;
        }
    }
}